@page "/status/404"
@model UrlShortener.Pages.Error404Model
@{
	ViewData["Title"] = "404 - URL Shortener";
}

<div class="card text-center border-0 mx-auto" style="width: 42rem;">
    <div class="card-body">
        <h1 class="display-1">404</h1>
        <h3 class="card-text">Page not found!</h3>
        <p class="card-text">
            <small class="text-body-secondary">
                The page you are looking for might have been removed, had its name changed or is unavailable.
            </small>
        </p>
        <a href="/" class="btn btn-primary"><small>Return to home page</small></a>
    </div>
</div>