@page
@model IndexModel
@{
    ViewData["Title"] = "URL Shortener";
}

<div class="card border-secondary mx-auto" style="max-width: 42rem;">
    <div class="card-body text-secondary">
        <h5 class="card-title text-center">Paste the URL to be shortened</h5>
        <form asp-page="Index">
            <div class="form-group input-group mb-1">
                <input asp-for="RequestDto.OriginalUrl" class="form-control" placeholder="Enter the link here">
                <button class="btn btn-primary" type="submit">Shorten URL</button>                
            </div> 
            <span asp-validation-for="RequestDto.OriginalUrl" class="text-start text-danger small"></span>
        </form>
    </div>
</div>


