@page "/owned-urls"
@model UrlShortener.Pages.OwnedUrlsModel

@{
    ViewData["Title"] = "Your URLs";
    var firstUrl = Model.Urls.FirstOrDefault();
    var baseUri = $"{Request.Scheme}://{Request.Host}";
}

<h1 class="mb-5">Your Urls</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => firstUrl.ShortenedUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => firstUrl.OriginalUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var url in Model.Urls)
        {
            <tr>
                <td>@baseUri/@url.ShortenedUrl</td>
                <td>@url.OriginalUrl</td>
                <td>
                    <a href="url-usage-info/@url.ShortenedUrl" class="btn btn-info">Usage Info</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(function () {
            $('.table').DataTable();
        });
    </script>
}
